logs
project/project
project/target
conf/application.conf
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
projectFilesBackup/
projectFilesBackup1/
project/